html{
  font-size: 18px;
  font-family: 'EB Garamond', serif;

}

header{
  display: flex;
  padding: 16px 24px;
  position:fixed;
  z-index: 1;
  background-color: white;
  opacity: 0.9;
  width: 100%;
}

.logo{
  display: flex;
  height: 32px;
}

.logo span{
  font-size: 1.7rem;

}

nav li{
  display: inline-block;

}

.mobile-nav{
  display: none;
}

.content{
  padding-top: 64px;
}

.banner{
  background-color: grey;
  display: flex;
  align-items: center;
}
.banner-info{
  display: inline-block ;
  align-items: center;

}
.banner-info h1{
  font-size: 2rem;
  font-weight: bold;
}


.banner-info h2{
  font-size: 1.5rem;
}

button{
  
}
.learn{
  margin: 32px 24px;
  width: 60%;
}

.learn img{
  width: 100%
}

.banner-info{
}

.campus-info{
  display: flex;
  margin-bottom: 32px;
}

.practice{
  width: 60%;

}

.practice-image{
  margin: 32px 24px;
}

.practice img{
  width: 100%;
}

.practice h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}



.sidebar{
  width: 40%;

}

.sidebar-info{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px
}

.side-caption{
  margin-left: 16px;
}

.side-caption h3{
  font-size: 1.2rem;
  font-weight: bold;
}

.side-caption h4{
  padding: 8px 0px;
}

.picture{
  width: 35%;
}

.picture img{
  width: 100%;
}

.side-caption{
  width: 65%;
}

.start-title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
}
.classes{
  display: inline-flex;
  margin: 32px 72px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.class{
  width: 33%;
}

.course-img img{
  width: 100%;
}

.caption{
  justify-content: space-around;
}

.caption h3{
  font-size: 1.2rem;
  font-weight: bold;
}

.caption p{
  padding-top: 8px;
}

.title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 32px 0px;
}

.thesis{
  display: flex;
  margin: 0px 0px 32px 24px;
}

.reimagine{
  width: 60%;
}

video{
  width: 100%;
}

.video-caption h3{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 24px 0px 8px 0px;
}

.thesis-info{
  width: 40%;

}

.texhibit{
  display: flex;
  align-items: center;
}

.image{
  margin: 16px 16px;
  width: 35%;
}

.image img{
  width: 100%;
}

.ex-info{
  width: 65%;

}

.ex-info h2{
  font-size: 1.2rem;
  font-weight: bold;
}

footer{
  border-top: 2px solid grey;
  margin: 16px 24px;
  display: inline-flex;
  width: 100%;
}

.terms{
  text-align: left;
}
